<!DOCTYPE html>
<html>
<head>
    <title>ML Predictor</title>
</head>
<body>
    <h2>Enter Input for Prediction</h2>
    <form action="{{url_for('predict_datapoint')}}" method="post">
        <input type="text" name="Temperature" placeholder="Temperature" required="required"><br>
        <input type="text" name="RH" placeholder="RH" required="required"><br>
         <input type="text" name="Ws" placeholder="Ws" required="required"><br>
        <input type="text" name="Rain" placeholder="Rain" required="required"><br>
         <input type="text" name="FFMC" placeholder="FFMC" required="required"><br>
        <input type="text" name="DMC" placeholder="DMC" required="required"><br>
         <input type="text" name="ISI" placeholder="ISI" required="required"><br>
        <input type="text" name="Classes" placeholder="Classes" required="required"><br>
         <input type="text" name="Region" placeholder="Region" required="required"><br>
        
   <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <h3>
        THE FWI PREDICTION IS{{results}}</h3>
</body>
</html>   
